<h1>Enter amount you want to turn into change</h1>
<form action="/coin_counter">
  <div class="form-group">
    <label for="change">Amount</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
